
/* Define the color variables */
:root {
    --primary-color: #AA77FF;
    --secondary-color: #C9EEFF;
    --tertiary-color: #97DEFF;
    --quaternary-color: #62CDFF;
  }
  
  main {
    padding-bottom: 80px;
  }
  
  /* Style the navbar brand */
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Style the navbar links */
  .navbar-nav .nav-link {
    color: var(--primary-color);
    font-size: 18px;
  }
  
  /* Style the dropdown menu */
  .navbar-nav .dropdown-menu {
    background-color: var(--secondary-color);
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the dropdown items */
  .navbar-nav .dropdown-item {
    color: var(--primary-color);
    font-size: 16px;
  }
  
  /* Style the dropdown items on hover */
  .navbar-nav .dropdown-item:hover {
    background-color: var(--tertiary-color);
  }
  
  
  /* Navbar link hover animation */
  .navbar-nav .nav-link:hover {
    color: var(--quaternary-color);
    transition: color 0.3s ease-in-out;
  }
 
  /* Style the h1 and h5 */
  h1 {
    text-align: center;
    color: var(--primary-color);
    margin: 30px;
  }

 h5 {
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    color: #AA77FF;
    font-size: 50px;
  }

  /* Style the text */
  p {
    text-align: left;
    margin: 30px;
    color: #AA77FF;
    font-weight: bold;
    font-size: large;
  }

  /* Style the Image */
  img , .resultsphoto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: none;
  }
 
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
 
 /* Style the Quiz*/
 .quiz{
     display: grid;
     grid-template-rows: 60px auto;
  }
  
/* Style the Quiz body */
 .quiz_body{ 
     border-radius: 30px;
     padding: 20px 30px;
     margin-top: 19%;
     margin-left: 20%;
     margin-bottom: 20%;
     margin-right: 20%;
     background-color: var(--quaternary-color);
  }

  /* Style the questions color*/
  #questions {
    color: var(--primary-color);
  
  }
 
  /* Style the options*/
  .option_group{
     list-style-type:none;
     margin: 30px 0;
  }
 
  /* Style the option*/
  .option{
     display: flex;
     color: #AA77FF;
     font-size: large;
     width: 300px;
     background-color: var(--secondary-color);
     margin-bottom: 20px;
     padding: 15px 20px;
     border-radius: 50px;
     border: 2px solid var(--primary-color);
     transition: 0.4s all;
   }
 
  /* Style the hover*/
  .option:hover{
     cursor: pointer;
     border: 2px solid var(--secondary-color);
     color: var(--primary-color);
  }
 
  .option.active{
     background-color: var(--primary-color);
     color: #fff;
  }
 
  /* Style the next button*/
   .btn-next{
     border: 2px solid var(--primary-color);
     padding: 15px 35px;
     background-color: var(--tertiary-color);
     color: var(--primary-color);
     border-radius: 50px;
     transition: 0.4s all;
  }
 
  /* Style the button next hover*/
   .btn-next:hover{
     cursor: pointer;
     background-color: var(--primary-color);
     color: white;
  }
 
  /* Style the userpoints */
   .userpoints{
     color: var(--primary-color);
     text-align: center;
     margin-top: 15px;
     font-size: xx-large;
     font-weight: bold;
  }
 
  /* Style the final page */
  .final {
    border-radius: 30px;
    background-color: #62CDFF;
    margin-top: 10%;
    margin-left: 30%;
    margin-bottom: 20%;
    margin-right: 30%;
  }

  /* Style the accordion item*/
  .accordion-item {
    color: var(--primary-color);
    background-color: #97DEFF;
  }

   /* Style the accordion button*/
   .accordion-button  {
    color: #AA77FF;
    font-weight: bold;
    background-color: var(--quaternary-color);
  
  }

  .start {
    border-radius: 30px;
    background-color: #62CDFF;
    margin-top: 10%;
    margin-left: 30%;
    margin-bottom: 20%;
    margin-right: 30%;
  }

  .btn-start {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 5%;
    border-radius: 15px;
    font-size: x-large;
     
  }

  .btn-start:hover {
    background-color: #AA77FF;
    color: #C9EEFF;
    border-color: var(--tertiary-color);
  }

